<% @user = User.find_by(name: session[:user]) %>
<div class="login">
<h2>Show user</h2>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<%= link_to 'Back', users_path %>
</div>